body {
  font-size: 24px;
  line-height: 29px;
  color: #1f3865;
  background-color: #fff;
}
a {
  color: #fc6a57;
  text-decoration: none;
}

.title {
  font-size: 48px;
  line-height: 57px;
  margin: 0 0 40px;
  text-align: center;
}

.color-primary {
  color: #fc6a57;
}
.color-secondary {
  color: #007eff;
}
.color-mark {
  color: #ff974b;
}
.color-main {
  color: #1f3865;
}
.hero {
  background: linear-gradient(180deg, #f2f2f2 0%, #ffffff 100%);
  margin: 0 0 110px;
}
.hero-container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: space-between;
}

.nav {
  position: fixed;

  top: 0px;
  right: 0;
  width: 100%;
  z-index: 999;
}
.nav-menu {
  max-width: 1440px;
  margin: 0 auto;
  text-align: right;
  padding: 48px 0;
}

.nav-link {
  background-color: #f2f2f2;
  padding: 10px 32px;
  box-shadow: 0px -6px 10px #ffffff, 0px 4px 15px rgba(31, 56, 101, 0.15);
  border-radius: 20px;
  margin-left: 8px;
}
.nav-link:hover {
  box-shadow: inset 0px -6px 10px #ffffff,
    inset 0px 4px 15px rgba(31, 56, 101, 0.15);
}

.header {
  flex: 0 1 360px;
  position: relative;
}
.head-conteiner {
  z-index: 20;
  position: relative;
  text-align: center;
  padding: 0 80px;
}

.header:before {
  content: "";
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -5px;
  left: -17px;
  background: url("../img/decor2.svg") no-repeat;
  z-index: 0;
}
.header:after {
  content: "";
  width: 1000px;
  height: 1000px;
  position: absolute;
  top: -212px;
  left: -235px;
  background: url("../img/decor1.svg") no-repeat;
  z-index: 0;
}

.logo {
  font-size: 48px;
  line-height: 57px;
  color: white;
  padding: 40px 0;
}

.avatar-conteiner {
  padding: 37px 40px 35px;
  background: url(../img/Vector.svg) no-repeat;
}
.avatar {
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  margin-bottom: 30px;
}
.avatar-conteiner img {
  width: 200px;
  display: block;
}
.about {
  padding-top: 205px;
  flex: 0 1 780px;
  text-align: right;
}
.info {
  margin: 0 0 80px;
}
.info title {
  text-align: right;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.counter span {
  display: block;
  font-size: 32px;
  line-height: 40px;
  margin: 0 0 16px;
}
.counter .counter-box {
  border: 4px solid #fc6a57;
  border-radius: 20px 0 0 20px;
  padding: 20px 80px 20px 20px;
  margin-right: -80px;
  display: flex;
  color: #fc6a57;
}
.counter .counter-box span {
  min-width: 190px;
  text-align: left;
  margin: 0;
}
.counter .counter-box svg {
  margin-right: 20px;
}
.boxes {
  background: #f2f2f2;
}
.box-holder {
  display: flex;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 60px;
}
.box {
  flex: 0 1 360px;
  margin: 40px;
  text-align: center;
}
.box-img {
  padding: 30px;
  margin: 0 0 16px;
  background: #f2f2f2;
  box-shadow: inset 0px -6px 10px #ffffff,
    inset 0px 4px 15px rgba(31, 56, 101, 0.15);
}
.box img {
  width: 100%;
  display: block;
}

.type-one,
.type-two,
.type-three,
.type-four {
  margin: 0 0 80px;
}

#main-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#main-form input {
  margin: 10px;
  padding: 5px;
  border-color: #fc6a57;
  background: #fc6a578f;
  border-radius: 10%;
}
.box-holder-wrap {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 60px;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background: #f2f2f2;
  padding: 40px 0 40px;
}
.footer-conteiner {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer svg * {
  fill: #fc6a57;
}

/* mobile */
@media only screen and (min-width: 0) and (max-width: 1023px) {
  .nav {
    top: auto;
    bottom: 0;
  }
  .box-holder {
    display: block;
  }
}
